
  .Hero {
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    height: 480px;
    width: 300px;
  }

  .Hero__image {
    padding: 2rem 2rem 2rem 2rem;
    align-items: center;
    border-radius: 0%;
    margin: 10px 10px 10px 10px;
  }
  