.Home {
    display: flex;
    height: 100%;
    width: 100%;
    color: black;
}

@media only screen and (min-width: 320px) {
    .Home-container {
        margin-top: 50%;
    }

    .Home_profile-buttons_menu {
        padding: 6%;
        width: 100%;
        align-content: center;
    }

    .Home_profile-pic {
        align-self: center;
        width: 150%;
        height: 150%;
    }
    
}
@media only screen and (min-width: 1280px) {
    .Home-container {
        margin-top: 10%;
    }

    .Home_profile-buttons_menu {
        margin-top: 60px;
        padding: 10%;
        width: 100%;
        align-content: center;
    }

    .Home_profile-pic {
        align-self: center;
        width: 100%;
        height: 100%;
    }
}


.Home_profile-buttons {
    width: 100%;
    align-content: center;
}

