/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.barContainer {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.bar1 {width: 90%; background-color: #2caab3;} /* Green */
.bar2 {width: 80%; background-color: #2caab3;} /* Blue */
.bar3 {width: 65%; background-color: #2caab3;} /* Red */
.bar4 {width: 60%; background-color: #2caab3;} /* Dark Grey */

