.Navbar {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  padding-top: 2%;
  background-color: #1C3643;
}

.Navbar-menu {
  display: flex;
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 0.5em;
  text-align: justify;
  position: absolute;
  background-color: A5D0A8;
  text-decoration: none;
  right: 0;
}

.Navbar-name {
  align-self: center;
  margin-top: .5rem;
  margin-left: 1rem;
  font-size: larger;
  text-align: left;
  color: white;
}

.Navbar-menu_btn {
  color: black !important;
  margin-right: 10px;
  margin-bottom: 40px;
  padding: .5px;
}