@media only screen and (min-width: 320px) {
    .ProfilePicture_cv {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 1280px) {
    .ProfilePicture_cv {
        width: 100%;
        height: 100%;
    }
}